extends ../template

block variables
    - var title = 'Кейсы'

block content
    main.taxi-page
        section.page-banner
            .page-banner__img-wrap
                img.page-banner__img(src="assets/images/page-banner-min.jpg", alt="Баннер")
            .page-banner__container.container
                .breadcrumbs
                    include ../components/breadcrumbs.pug
                .page-banner__title-wrap
                    h1.pages-banner__title.h1 Кейсы
        
        section.case
            .case__container.container
                ul.case-list
                    li.advertisers-cases__item
                        a.advertisers-cases__link(href="#")
                            .advertisers-cases__img-wrap
                                img.advertisers-cases__img(src="assets/images/advertcase-2-min.jpg", alt="")
                            .advertisers-cases__text-wrap
                                h3.advertisers-cases__caption Реклама для зоомагазина
                                p.advertisers-cases__text Описание проекта, который мы выполнили и какие мы молодцы.
