extends ../template

block variables
    - var title = 'Карта'

block content
    main.map-site
        .container
            h1.map-site__title
            table.map-site__table
                tr.map-site__row
                    td.map-site__cell
                        a.map-site__link(href="main.html" target="_blank") Главная
                tr.map-site__row
                    td.map-site__cell
                        a.map-site__link(href="service.html" target="_blank") Сервис
                tr.map-site__row
                    td.map-site__cell
                        a.map-site__link(href="contacts.html" target="_blank") Контакты
                tr.map-site__row
                    td.map-site__cell
                        a.map-site__link(href="advertisers.html" target="_blank") Рекламодатели
                tr.map-site__row
                    td.map-site__cell
                        a.map-site__link(href="taxi.html" target="_blank") Такси
                tr.map-site__row
                    td.map-site__cell
                        a.map-site__link(href="case.html" target="_blank") Кейсы
                    td.map-site__cell
                        a.map-site__link(href="case-item.html" target="_blank") Кейс
                tr.map-site__row
                    td.map-site__cell
                        a.map-site__link(href="news.html" target="_blank") Новости
                    td.map-site__cell
                        a.map-site__link(href="news-item.html" target="_blank") Новость
                tr.map-site__row
                    td.map-site__cell
                        a.map-site__link(href="404.html" target="_blank") 404