extends ../template

block variables
    - var title = 'Новости'

block content
    main.news-page
        section.page-banner
            .page-banner__img-wrap
                img.page-banner__img(src="assets/images/page-banner-min.jpg", alt="Баннер")
            .page-banner__container.container
                .breadcrumbs
                    include ../components/breadcrumbs.pug
                .page-banner__title-wrap
                    h1.pages-banner__title.h1 Новости
        
        section.news-page__list
            .news__container.container
                ul.news__list
                    li.news__item
                        a.news__link(href="#")
                            .news__img-wrap
                                img.news__img(src="assets/images/mockup-min.jpg", alt="Отслеживание экрана по GPS")
                            .news__text-wrap
                                h3.news__subtitle Отслеживание экрана по GPS
                                p.news__text Ваша целевая аудитория в видит рекламу в нужные моменты с динамическим контентом.
                                span.news__date 17.01.2021
                    li.news__item
                        a.news__link(href="#")
                            .news__img-wrap
                                img.news__img(src="assets/images/news-min.jpg", alt="Отслеживание экрана по GPS")
                            .news__text-wrap
                                h3.news__subtitle Отслеживание экрана по GPS
                                p.news__text Ваша целевая аудитория в видит рекламу в нужные моменты с динамическим контентом.
                                span.news__date 17.01.2021
                    li.news__item
                        a.news__link(href="#")
                            .news__img-wrap
                                img.news__img(src="assets/images/news-min.jpg", alt="Отслеживание экрана по GPS")
                            .news__text-wrap
                                h3.news__subtitle Отслеживание экрана по GPS
                                p.news__text Ваша целевая аудитория в видит рекламу в нужные моменты с динамическим контентом.
                                span.news__date 17.01.2021
                    li.news__item
                        a.news__link(href="#")
                            .news__img-wrap
                                img.news__img(src="assets/images/news-min.jpg", alt="Отслеживание экрана по GPS")
                            .news__text-wrap
                                h3.news__subtitle Отслеживание экрана по GPS
                                p.news__text Ваша целевая аудитория в видит рекламу в нужные моменты с динамическим контентом.
                                span.news__date 17.01.2021
                    li.news__item
                        a.news__link(href="#")
                            .news__img-wrap
                                img.news__img(src="assets/images/news-min.jpg", alt="Отслеживание экрана по GPS")
                            .news__text-wrap
                                h3.news__subtitle Отслеживание экрана по GPS
                                p.news__text Ваша целевая аудитория в видит рекламу в нужные моменты с динамическим контентом.
                                span.news__date 17.01.2021
                    li.news__item
                        a.news__link(href="#")
                            .news__img-wrap
                                img.news__img(src="assets/images/news-min.jpg", alt="Отслеживание экрана по GPS")
                            .news__text-wrap
                                h3.news__subtitle Отслеживание экрана по GPS
                                p.news__text Ваша целевая аудитория в видит рекламу в нужные моменты с динамическим контентом.
                                span.news__date 17.01.2021
                    li.news__item
                        a.news__link(href="#")
                            .news__img-wrap
                                img.news__img(src="assets/images/news-min.jpg", alt="Отслеживание экрана по GPS")
                            .news__text-wrap
                                h3.news__subtitle Отслеживание экрана по GPS
                                p.news__text Ваша целевая аудитория в видит рекламу в нужные моменты с динамическим контентом.
                                span.news__date 17.01.2021
                    li.news__item
                        a.news__link(href="#")
                            .news__img-wrap
                                img.news__img(src="assets/images/news-min.jpg", alt="Отслеживание экрана по GPS")
                            .news__text-wrap
                                h3.news__subtitle Отслеживание экрана по GPS
                                p.news__text Ваша целевая аудитория в видит рекламу в нужные моменты с динамическим контентом.
                                span.news__date 17.01.2021
                    li.news__item
                        a.news__link(href="#")
                            .news__img-wrap
                                img.news__img(src="assets/images/news-min.jpg", alt="Отслеживание экрана по GPS")
                            .news__text-wrap
                                h3.news__subtitle Отслеживание экрана по GPS
                                p.news__text Ваша целевая аудитория в видит рекламу в нужные моменты с динамическим контентом.
                                span.news__date 17.01.2021
