.advertisers {
    .layout-top__container {
        justify-content: flex-end;
    }
}

.how-works {
    margin-top: 150px;
    margin-bottom: 140px;
}
.how-works__title {
    margin-bottom: 30px;
}
.how-works__list {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    column-gap: 30px;
    @include list;
    margin-top: 112px;
}
.how-works__caption {
    margin-top: 40px;
    margin-bottom: 20px;
}

//advertiser tabs
.advertisers-tabs {
    .tabs-list__item {
        background: none;
    }
}

//advertiser cases
.advertisers-cases {
    background-color: $color-lightgrey;
    padding: 110px 0 90px;
}
.advertisers-cases__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 80px;
}
.advertisers-cases__link-more {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: $color-super-black;

    svg {
        stroke: $color-super-black;
        margin-left: 20px;
    }

    &:hover {
        svg {
            stroke: $color-blue;
        }
    }
}
.advertisers-cases__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    @include list;
}
.advertisers-cases__img-wrap {
    height: 290px;
}
.advertisers-cases__img {
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.advertisers-cases__text-wrap {
    margin-top: 30px;
}
.advertisers-cases__caption {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 10px;
}
.advertisers-cases__text {
    line-height: 22px;
}