.case-item {
    margin-bottom: 96px;
}

.case-item__breadcrumbs {
    margin-top: 50px;
    margin-bottom: 80px;

    .breadcrumbs__link {
        color: $color-super-black;
    }
}
.case-item__title {
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 52px;
}
.case-item__list {
    grid-template-columns: 1fr;
}
.case-item__wrap {
    display: flex;
    justify-content: space-between;
}
.case-item__left {
    max-width: 810px;
}
.case-item__img-wrap {
    max-height: 450px;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 40px;
}
.case-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.case-item__text-wrap {
    margin-bottom: 55px;
}
.case-item__text {
    &:not(:last-of-type) {
        margin-bottom: 40px;
    }
}
.case-item__slider {
    .swiper-button-prev {
        width: 45px;
        height: 45px;
        background-color: $color-blue;
        border-radius: 50%;
        left: -20px;

        &::after {
            position: absolute;
            font-size: 20px;
            color: $color-white;
        }
    }
    .swiper-button-next {
        width: 45px;
        height: 45px;
        background-color: $color-blue;
        border-radius: 50%;
        right: -20px;

        &::after {
            position: absolute;
            left: 45%;
            font-size: 20px;
            color: $color-white;
        }
    }

    .swiper-pagination-fraction {
        bottom: 0px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: right;
    }
}
.case-item__slider-img-wrap {
    margin: 0;
}
.case-item__slider-img {
    width: 100%;
    min-height: 450px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}
.case-item__img-caption {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-top: 20px;
}

.case-item__right {
    max-width: 355px;
}
.case-item__subtitle {
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 50px;
}
.case-item__list {
    .advertisers-cases__img-wrap {
        height: 186px;
    }
}