//main-page
.main-banner {
	height: 100vh;
}
.main-banner__background {
	position: absolute;
	width: 100%;
	height: 100vh;
}
.main-banner__video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: left;
}
.main-banner__container {
	position: relative;
	padding-top: 190px;
	padding-top: calc(100vh - 85vh);
}
.main-banner__text-wrap {
	max-width: 950px;
}

.main-banner__title.h1 {
	font-size: 44px;
}

.main-banner__text {
	font-size: 24px;
	line-height: 29px;
	color: $color-white;
	margin: 50px 0 100px;
}
.main-banner__btn {
	padding: 19px 57px;
}
.main-page__scroll-btn {
	position: absolute;
	background: none;
	border: none;
	bottom: calc(100vh - 95vh);
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
}

@media screen and (max-width: 767px) {
	.main-banner__text {
		font-size: 18px;
		line-height: 22px;
		margin-top: 30px;
		margin-bottom: 50px;
	}
	.main-banner__btn {
		padding: 13px 30px;
	}
}

//layout
.advantages {
	margin-bottom: 160px;
}

.layout {
	margin-top: 90px;
}

.layout-top {
	position: relative;
}
.layout__top-banner {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.layout__top-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.layout-top__container {
	position: relative;
	display: flex;
	justify-content: flex-start;
}
.layout-top__text-wrap {
	max-width: 690px;
	color: $color-black1;
	background-color: $color-lightgrey;
	padding: 90px 60px 100px;
}
.layout-top__title {
	font-weight: 800;
	font-size: 50px;
	line-height: 61px;
	margin-bottom: 30px;
}
.layout__img-wrap {
	position: relative;
	width: 50%;
	min-height: 600px;
}
.layout__img {
	position: absolute;
	display: block;
	max-width: max-content;
	width: calc(((100vw - 1410px) / 2) + 100%);
	height: 100%;
	top: 0;
	object-fit: cover;
}
.layout__text-wrap {
	width: 50%;
}
.layout__subtitle {
	margin-bottom: 30px;
}
.layout__btn {
	width: max-content;
	padding: 22px 66px;
	margin-top: 50px;
}

.layout__item {
	display: flex;
	align-items: center;
	margin-top: 140px;
}
.layout__item--right {
	.layout__img {
		left: 1%;
	}
	.layout__text-wrap {
		padding-right: 120px;
	}
}
.layout__item--left {
	.layout__img {
		right: 1%;
	}
	.layout__text-wrap {
		padding-left: 120px;
	}
}

@media screen and (max-width: 1400px) {
	.layout__item--left .layout__img {
		width: 100%;
	}
	.layout__item--right .layout__img {
		width: 100%;
	}
	.layout__item--left .layout__text-wrap {
		padding-left: 40px;
	}
	.layout__item--right .layout__text-wrap {
		padding-right: 40px;
	}
}

@media screen and (max-width: 767px) {
	.advantages {
		margin-bottom: 60px;
	}
	.layout {
		margin-top: 30px;
	}
	.layout__top-banner {
		position: static;
		height: 113px;
	}
	.layout-top__text-wrap {
		max-width: 767px;
		padding: 30px 15px 39px;
		margin: 0 -15px;
	}
	.layout-top__title {
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 25px;
	}
	.layout__text-wrap {
		margin-top: 20px;
		order: 2;
	}
	.layout__item--left .layout__text-wrap,
	.layout__item--right .layout__text-wrap {
		width: 100%;
		padding: 0;
	}
	.layout__item {
		flex-direction: column;
		margin-top: 50px;
	}
	.layout__img-wrap {
		position: static;
		width: auto;
		min-height: auto;
		height: 238px;
		margin: 0 -15px;
	}
	.layout__item--left .layout__img,
	.layout__item--right .layout__img {
		position: static;
		width: 100%;
	}
	.layout__subtitle {
		margin-bottom: 25px;
	}
	.layout__btn {
		width: 100%;
		padding: 18px 20px;
	}
}

//tabs
.tabs {
	background-color: $color-lightgrey;
}
.tabs__container {
	padding-top: 73px;
	padding-bottom: 80px;
}
.tabs__nav {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: max-content;
	column-gap: 90px;
	border-bottom: 1px solid $color-grey2;
	padding-bottom: 20px;
	margin-bottom: 42px;
}
.tabs__wrap {
	margin-top: 67px;
}
.tabs__label {
	cursor: pointer;
}
.tabs__name {
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: $color-darkgrey;
}
.tabs__input:checked + .tabs__name {
	color: $color-blue;
}

.tabs__item {
	display: none;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 30px;
	@include list;

	&.active {
		display: grid;
	}
}
.tabs-list__item {
	display: grid;
	grid-template-columns: max-content 1fr;
	align-items: center;
	column-gap: 30px;
	background-color: $color-white;
	border-radius: 5px;
	padding: 47px 30px;
}
.tabs__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media screen and (max-width: 1023px) {
	.tabs__item {
		grid-template-columns: 1fr;
		row-gap: 28px;
	}
}

@media screen and (max-width: 767px) {
	.tabs__container {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.tabs__wrap {
		margin-top: 40px;
	}
	.tabs__nav {
		column-gap: 30px;
		overflow-x: scroll;
		margin-bottom: 30px;
	}
	.tabs-list__item {
		grid-template-columns: 1fr;
		row-gap: 20px;
		padding: 20px 15px;
	}
	.tabs__banner {
		height: 200px;
	}
}

//partners
.partners {
	background-color: $color-lightgrey;
	margin-bottom: 110px;
}
.partners__container {
	padding-top: 100px;
	padding-bottom: 100px;
}
.partners__title {
	margin-bottom: 80px;
}
.partners__slider {
	position: relative;
	padding: 0 55px;

	.swiper-button-prev {
		width: 45px;
		height: 45px;
		background-color: $color-arrows;
		border-radius: 50%;
		left: -15px;

		&::after {
			position: absolute;
			font-size: 20px;
			color: $color-white;
		}

		&:hover {
			background-color: $color-blue;
			transition: all 0.2s ease 0s;
		}
	}
	.swiper-button-next {
		width: 45px;
		height: 45px;
		background-color: $color-arrows;
		border-radius: 50%;
		right: -15px;

		&::after {
			position: absolute;
			left: 45%;
			font-size: 20px;
			color: $color-white;
		}

		&:hover {
			background-color: $color-blue;
			transition: all 0.2s ease 0s;
		}
	}
}
.partners__img-wrap {
	display: flex;
	justify-content: center;
	filter: grayscale(1) brightness(2);
	transition: 0.2s;

	&:hover {
		filter: none;
		transition: 0.2s;
	}
}

@media screen and (max-width: 767px) {
	.partners {
		margin-bottom: 60px;
	}
	.partners__container {
		padding-top: 50px;
		padding-bottom: 70px;
	}
	.partners__title {
		margin-bottom: 50px;
	}
	.partners__slider {
		padding: 0;
	}
	.partners__slider .swiper-button-next {
		width: 30px;
		height: 30px;
		top: 58%;

		&::after {
			font-size: 15px;
		}
	}
	.partners__slider .swiper-button-prev {
		width: 30px;
		height: 30px;
		top: 58%;

		&::after {
			font-size: 15px;
		}
	}
}

// seo-block
.seo-block {
	columns: 2;
	column-gap: 30px;

	p {
		margin: 10px 0;
	}
}

@media screen and (max-width: 767px) {
	.seo-block {
		columns: 1;
	}
}

//news
.news {
	margin-bottom: 130px;
}
.news__top {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 80px;
}
.news__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 30px;
	row-gap: 50px;
	@include list;
}
.news__link {
	color: $color-super-black;

	&:hover {
		.news__subtitle {
			color: $color-blue;
			transition: 0.2s;
		}
	}
}
.news__link-more {
	display: flex;
	align-items: center;
	font-weight: 600;
	line-height: 22px;
	color: $color-super-black;

	svg {
		stroke: $color-super-black;
		margin-left: 20px;
	}

	&:hover {
		svg {
			stroke: $color-blue;
		}
	}
}
.news__img-wrap {
	height: 250px;
	margin-bottom: 30px;
}
.news__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}
.news__subtitle {
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 10px;
}
.news__date {
	display: block;
	font-size: 14px;
	line-height: 160%;
	margin-top: 20px;
}

@media screen and (max-width: 1023px) {
	.news__list {
		grid-template-columns: 1fr;
		row-gap: 40px;
	}
}

@media screen and (max-width: 767px) {
	.news {
		margin-bottom: 60px;
	}
	.news__top {
		margin-bottom: 40px;
	}
	.news__link-more svg {
		margin-left: 10px;
	}
	.news__img-wrap {
		height: 150px;
		margin-bottom: 20px;
	}
	.news__subtitle {
		font-size: 18px;
	}
	.news__date {
		margin-top: 15px;
	}
}

// faq-cont
.faq-cont {
	border-top: 1px solid #b8b8b8;
	overflow: hidden;

	&:last-child {
		border-bottom: 1px solid #b8b8b8;
	}
}

.faq-cont__header {
	padding: 25px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	color: #000000;
}

.faq-cont__panel {
	padding: 0 20px 25px 20px;
}

.faq-cont__plus {
	width: 30px;
	height: 30px;
	border-radius: 30px;
	border: 2px solid #333333;
	position: relative;

	&::before,
	&::after {
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 15px;
		height: 2px;
		border-radius: 2px;
		background-color: #333333;
	}

	&::before {
		transform: translate(-50%, -50%);
	}

	&::after {
		transform: translate(-50%, -50%) rotate(90deg);
	}
}

.faq-cont.is-active .faq-cont__plus::after {
	content: none;
}
