//banner
.page-banner {
    position: relative;
    min-height: 500px;
}
.page-banner__img-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.page-banner__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.page-banner__container {
    position: relative;
    padding-top: 50px;
}
.breadcrumbs {
    margin-bottom: 103px;
}

//how
.how {
    margin-top: 150px;
    margin-bottom: 160px;
}
.how__title {
    max-width: 690px;
}
.how__text {
    margin: 30px 0 72px;
}
.how-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    @include list;
}
.how-list__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.how-list__subtitle {
    margin-top: 40px;
    margin-bottom: 20px;
}
.how-list__text {
    margin-bottom: 20px;
}

//layout
.advertising {
    margin-bottom: 150px;
}
.advertising__container {
    display: flex;
    align-items: center;
}
.advertising__text-wrap {
    width: 50%;
    padding-right: 120px;
}
.advertising__img-wrap {
    position: relative;
    width: 50%;
    min-height: 400px;
}
.advertising__img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: initial;
    width: calc(((100vw - 1410px) / 2) + 100%);
    height: 100%;
    object-fit: contain;
    background-color: $color-darkgrey1;
    padding: 110px 155px 110px 100px;
}
.advertising__subtitle {
    margin-bottom: 30px;
}
.advertising__text {
    &:not(:last-of-type) {
        margin-bottom: 10px;
    }
}

//service-slider
.service-slider {
    margin-bottom: 150px;
}
.service-slider__container {
    position: relative;

    .swiper-button-prev {
        width: 45px;
        height: 45px;
        background-color: $color-blue;
        border-radius: 50%;
        left: -10px;

        &::after {
            position: absolute;
            font-size: 20px;
            color: $color-white;
        }
    }
    .swiper-button-next {
        width: 45px;
        height: 45px;
        background-color: $color-blue;
        border-radius: 50%;
        right: -10px;

        &::after {
            position: absolute;
            left: 45%;
            font-size: 20px;
            color: $color-white;
        }
    }
}

/*search ba*/
.header-info__search-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-info__search-input {
    position: absolute;
    z-index: 55;
    right: 0;
    width: 0;
    height: 36px;
    margin-right: -6px;
    padding: 0;
    transition: 200ms ease-in-out 0ms;
    transition-property: width, opacity;
    opacity: 0;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 8%);
  }
  .header-info__search-input:focus {
    width: 300px;
    padding: 0 30px 0 18px;
    opacity: 1;
  }