.taxi {
    .layout-top__container {
        justify-content: flex-end;
    }
}

.taxi-how {
    .how-works__title {
        max-width: 690px;
    }
}

.taxi-tabs {
    .tabs-list__item {
        padding: 19px 45px;
    }
}
.tabs-list__num {
    position: relative;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: $color-blue;
}
.tabs-list__right {
    border-left: 1px solid $color-grey3;
    padding-left: 20px;
}