ul.breadcrumbs__list
    li.breadcrumbs__item
        a.breadcrumbs__link(href="#") Главная
            <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.00078 4.50001C5.00107 4.64604 4.95021 4.78757 4.85703 4.90001L1.73203 8.65001C1.62595 8.77765 1.4735 8.85791 1.30824 8.87315C1.14297 8.88839 0.978418 8.83735 0.850782 8.73126C0.723147 8.62517 0.642882 8.47273 0.627645 8.30746C0.612407 8.1422 0.663446 7.97765 0.769532 7.85001L3.56953 4.50001L0.869533 1.15001C0.817616 1.08608 0.778846 1.01252 0.755452 0.933558C0.732057 0.854596 0.724498 0.77179 0.73321 0.689897C0.741922 0.608004 0.766733 0.52864 0.806216 0.456367C0.8457 0.384093 0.899078 0.320336 0.963282 0.26876C1.02755 0.211522 1.10294 0.168173 1.18473 0.141428C1.26653 0.114682 1.35297 0.105118 1.43863 0.113332C1.5243 0.121547 1.60734 0.147363 1.68256 0.189165C1.75779 0.230967 1.82357 0.287854 1.87578 0.35626L4.89453 4.10626C4.97298 4.22194 5.01039 4.36057 5.00078 4.50001Z" fill="white"/>
            </svg>
    li.breadcrumbs__item
        span.breadcrumbs__link О сервисе