footer.footer
    .footer__top
        .footer__container.footer__container--top.container
            a.footer__logo(href="#")
                svg.footer__logo(width="200" height="63")
                    use(xlink:href="assets/images/sprite.svg#logo")
            ul.footer__list
                li.footer__item
                    a.footer__link(href="#") О сервисе
                li.footer__item
                    a.footer__link(href="#") Такси
                li.footer__item
                    a.footer__link(href="#") Рекламодателям
                li.footer__item
                    a.footer__link(href="#") Контакты
                li.footer__item
                    a.footer__link(href="#") Кейсы
                li.footer__item
                    a.footer__link(href="#") Новости
    .footer__bottom
        .footer__container.footer__container--bottom.container
            ul.footer__social-list.social-list
                li.social-list__item
                    a.social-list__link(href="#")
                        svg.social-list__icon(width="8" height="15")
                            use(xlink:href="assets/images/sprite.svg#icon-fb")
                li.social-list__item
                    a.social-list__link(href="#")
                        svg.social-list__icon(width="15" height="9")
                            use(xlink:href="assets/images/sprite.svg#icon-vk")
                li.social-list__item
                    a.social-list__link(href="#")
                        svg.social-list__icon(width="15" height="12")
                            use(xlink:href="assets/images/sprite.svg#icon-tw")
                li.social-list__item
                    a.social-list__link(href="#")
                        svg.social-list__icon(width="15" height="15")
                            use(xlink:href="assets/images/sprite.svg#icon-ig")
                li.social-list__item
                    a.social-list__link(href="#")
                        svg.social-list__icon(width="15" height="11")
                            use(xlink:href="assets/images/sprite.svg#icon-yt")
            a.footer__link(href="#") Пользовательское соглашение
            p.footer__text Сайт сделал: 
                a.footer__link(href="#") RA-Studio
