header.header
    .header__container.container
        a.header__logo(href="#")
            svg.header__svg(width="200" height="63")
                use(xlink:href="assets/images/sprite.svg#logo")
        button.header__toggle(type="button" aria-label="Меню")
            span.header__toggle-middle
        nav.header__nav
            ul.header__list
                li.header__item
                    a.header__link(href="#") О сервисе
                li.header__item
                    a.header__link(href="#") Рекламодателям
                li.header__item
                    a.header__link(href="#") Такси
                li.header__item
                    a.header__link(href="#") Кейсы
                li.header__item
                    a.header__link(href="#") Новости
                li.header__item
                    a.header__link(href="#") Контакты
            a.header__btn.btn.btn--blue(href="#") Войти
        
            ul.header__social-list.social-list
                li.social-list__item
                    a.social-list__link(href="#")
                        svg.social-list__icon(width="8" height="15")
                            use(xlink:href="assets/images/sprite.svg#icon-fb")
                li.social-list__item
                    a.social-list__link(href="#")
                        svg.social-list__icon(width="15" height="9")
                            use(xlink:href="assets/images/sprite.svg#icon-vk")
                li.social-list__item
                    a.social-list__link(href="#")
                        svg.social-list__icon(width="15" height="12")
                            use(xlink:href="assets/images/sprite.svg#icon-tw")
                li.social-list__item
                    a.social-list__link(href="#")
                        svg.social-list__icon(width="15" height="15")
                            use(xlink:href="assets/images/sprite.svg#icon-ig")
                li.social-list__item
                    a.social-list__link(href="#")
                        svg.social-list__icon(width="15" height="11")
                            use(xlink:href="assets/images/sprite.svg#icon-yt")