header.header
    .header__container.container
        a.header__logo(href="#")
            svg.header__svg(width="200" height="63")
                use(xlink:href="assets/images/sprite.svg#logo")
        nav.header__nav
            ul.header__list
                li.header__item
                    a.header__link(href="#") О сервисе
                li.header__item
                    a.header__link(href="#") Рекламодателям
                li.header__item
                    a.header__link(href="#") Такси
                li.header__item
                    a.header__link(href="#") Кейсы
                li.header__item
                    a.header__link(href="#") Новости
                li.header__item
                    a.header__link(href="#") Контакты
            a.header__btn.btn.btn--blue(href="#") Войти
        