.popup-wrap
    section.popup-success
        .popup-success__container
            h2.popup-success__title.popup__title Ваше сообщение успешно отправлено!
            p.popup-success__text Мы свяжемся с вами в течении 20 минут
            .popup-success__img-wrap
                img.popup-success__img(src="assets/images/popup-img-min.png", alt="")
            button.popup-success__btn.popup__close(type="button" aria-label="Зыкрыть")
                svg.popup__close-icon(width="13" height="13")
                    use(xlink:href="assets/images/sprite.svg#icon-close")
