.form {
    margin-top: 110px;
    margin-bottom: 105px;
}
.form__wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
}
.form__list {
    max-width: 690px;
    width: 100%;
}
.form__item {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 19px;
    padding-top: 45px;
}
.form__label {
    position: absolute;
    top: 45px;
    left: 0;
    transition: top 0.2s;
    color: $color-grey1;
}
.form__input {
    border: none;
    border-bottom: 1px solid $color-grey1;
    padding-bottom: 10px;

    &.error {
        border-bottom-color: $color-red;
    }
    &.success {
        border-bottom-color: #2bcf54;
    }
}
textarea {
    resize: vertical;
}
.form__item.active .form__label {
    top: 20px;
}
.form__btn {
    padding: 19px 76px;
    margin-top: 50px;
    @include hover-black;
}
.form__img-wrap {
    margin-left: 20px;
}

@media screen and (max-width: 1023px) {
    .form__img-wrap {
        display: none;
    }
    .form__list {
        max-width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .form {
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .form__wrap {
        flex-direction: column;
        margin-top: 15px;
    }
    .form__btn {
        width: 100%;
        padding: 18px 20px;
    }
}